h1: a(href="/admin") 文具/雑貨販売システム
ul#nav
    li(sec:authorize="hasRole('ADMIN')"): a(href="/admin/product") 商品情報メンテナンス
    li(sec:authorize="hasRole('ADMIN')"): a(href="/admin/product-category-add") 商品カテゴリ登録
    li(sec:authorize="hasRole('ADMIN')"): a(href="/admin/emp-add") アカウント登録
    li(sec:authorize="!isAuthenticated()"): a(href="/admin/login") ログイン
    li(sec:authorize="isAuthenticated()")
        form(th:action="@{/admin/logout}" method="post")
            input(type="submit" value="ログアウト")

    
