extends ../../layout/_layout.pug

block title
    title 商品削除(完了)

block content
    h2 商品削除(完了)
    .complete-message(th:text="|商品名${name}を削除しました。|")
    a.botton(href="/admin/product"): button 商品検索へ戻る